.login-component {
  height: 100vh;
  margin-left:20%;
  width: 60%;
}

img.ld-icon {
  height: 142px;
  margin: auto;
}

#userlogin-title {
text-align: center;
/* padding-top: 110px; */
font-weight: bold;
font-size: 28px;
color: #ACACAC;
margin-bottom: 60px;
}

.login-message {
  margin: 0 0 10px;
}

button {
  text-transform: uppercase
}

.form-width {
  width:100%;
}

.login-spinner {
  width:50px;
}

a {
  color: #da291c;
  text-decoration: none;
}

.mat-form-field {
  width: 100%;
}

.login-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.login-sso {
  display: flex;
  flex-direction: column;
}

.mat-card {
  padding: 20px;
  margin-top: 50px;
  color:#da291c;
}

.mat-card p {
  text-align: center;
}
