.flex-row {
    align-items: center;
}

.mat-icon {
    color: #8b5e50
}


a {
    color: #ac8d82;
    font-size: 14px;
    text-decoration: none;
}

a:hover {
    color: #914f3b;
    font-size: 14px;
    text-decoration: none;
}