<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Plugins\WebServices;Plugins\WebServices\bin;Plugins\Behaviors;Plugins\Behaviors\bin;Plugins\Entities"/>
    </assemblyBinding>
  </runtime>

  <connectionStrings>
    <add name="SqlRepository" connectionString="data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\SqlRepository.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings file="dev.config">
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="TokenTimeToLive" value="86400" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>

  <system.serviceModel>
    
    <services>
      <service behaviorConfiguration="NoAuthServiceBehavior" name="Rhyous.WebFramework.WebServices.AuthenticationWebService">
        <endpoint address="" behaviorConfiguration="AjaxEnabledBehavior" binding="webHttpBinding" contract="Rhyous.WebFramework.WebServices.IAuthenticationWebService" />
      </service>
    </services>

    <behaviors>
      <endpointBehaviors>
        <behavior name="AjaxEnabledBehavior">
          <webHttp helpEnabled="true"/>
        </behavior>
      </endpointBehaviors>

      <serviceBehaviors>
        <behavior name="NoAuthServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>    
    
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>

    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" >
      <serviceActivations>
        <add relativeAddress="AuthenticationService.svc" service="Rhyous.WebFramework.WebServices.AuthenticationWebService, Rhyous.WebFramework.WebServices.Authentication" />
      </serviceActivations>
    </serviceHostingEnvironment>
  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
  </system.webServer>

</configuration>
