<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LinqKit.Core" version="1.1.9.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <package id="Rhyous.Odata" version="1.0.1" targetFramework="net461" />
  <package id="Rhyous.Odata.Expand" version="1.0.0" targetFramework="net461" />
  <package id="Rhyous.Odata.Filter" version="1.0.1" targetFramework="net461" />
  <package id="Rhyous.SimplePluginLoader.Sources" version="1.2.3" targetFramework="net461" />
  <package id="Rhyous.StringLibrary" version="1.1.0" targetFramework="net461" />
</packages>