<h2 id="header" header>Administration</h2>

    <div class="uploadForm">
        <div class="md-inline-form layout-padding layout-column" layout="column" layout-padding="">
            <div layout="row" class="layout-row">
                <button mat-button color="primary" id="internal-menu-data-management" routerLink="/admin/data-management"><mat-icon class="ng-scope material-icons" role="img" aria-label="widgets">widgets</mat-icon><span class="ng-scope">DATA MANAGEMENT</span></button>
            </div>
        </div>
    </div>


