USE [master]
GO
/****** Object:  Database [EntityAnywhere]    Script Date: 7/20/2023 1:14:03 PM ******/
CREATE DATABASE [EntityAnywhere]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EntityAnywhere', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\EntityAnywhere.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EntityAnywhere_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\EntityAnywhere_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EntityAnywhere].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EntityAnywhere]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 7/20/2023 1:14:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Addenda]    Script Date: 7/20/2023 1:14:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Addenda](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Value] [nvarchar](100) NOT NULL,
	[Entity] [nvarchar](100) NOT NULL,
	[EntityId] [nvarchar](100) NOT NULL,
	[Property] [nvarchar](100) NOT NULL,
	[CreateDate] [datetimeoffset](7) NOT NULL,
	[LastUpdated] [datetimeoffset](7) NULL,
	[CreatedBy] [bigint] NOT NULL,
	[LastUpdatedBy] [bigint] NULL,
 CONSTRAINT [PK_dbo.Addenda] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AlternateIds]    Script Date: 7/20/2023 1:14:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlternateIds](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Value] [nvarchar](100) NOT NULL,
	[Entity] [nvarchar](100) NOT NULL,
	[EntityId] [nvarchar](100) NOT NULL,
	[Property] [nvarchar](100) NOT NULL,
	[CreateDate] [datetimeoffset](7) NOT NULL,
	[LastUpdated] [datetimeoffset](7) NULL,
	[CreatedBy] [bigint] NOT NULL,
	[LastUpdatedBy] [bigint] NULL,
 CONSTRAINT [PK_dbo.AlternateIds] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuthenticationAttempts]    Script Date: 7/20/2023 1:14:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuthenticationAttempts](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](450) NOT NULL,
	[Result] [nvarchar](max) NOT NULL,
	[IpAddress] [nvarchar](39) NULL,
	[Ignore] [bit] NOT NULL,
	[Message] [nvarchar](max) NULL,
	[AuthenticationPlugin] [nvarchar](100) NULL,
	[CreateDate] [datetimeoffset](7) NOT NULL,
	[LastUpdated] [datetimeoffset](7) NULL,
	[CreatedBy] [bigint] NOT NULL,
	[LastUpdatedBy] [bigint] NULL,
 CONSTRAINT [PK_dbo.AuthenticationAttempts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[base_Agents]    Script Date: 7/20/2023 1:14:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[base_Agents](
	[Agent_No] [int] NOT NULL,
	[Team_No] [int] NOT NULL,
	[Username] [nvarchar](255) NULL,
	[first_name] [nvarchar](50) NULL,
	[middle_name] [nvarchar](50) NULL,
	[last_name] [nvarchar](50) NULL,
	[email] [nvarchar](250) NULL,
	[extension] [int] NULL,
	[department] [nvarchar](20) NULL,
	[Status] [nvarchar](4) NOT NULL,
	[Password] [nvarchar](12) NULL,
	[home_phone] [nvarchar](15) NULL,
	[did_phone] [nvarchar](15) NULL,
	[location_no] [int] NULL,
	[employee_no] [int] NULL,
	[Mod_DateTime] [datetime] NULL,
	[Last_Login] [datetime] NULL,
	[Description] [nvarchar](100) NULL,
	[Notes] [nvarchar](2000) NULL,
	[Reserved] [tinyint] NULL,
	[Mod_Agent_No] [int] NULL,
	[AgentPasswordID] [int] NULL,
	[ProfileID] [int] NULL,
	[Bus_No] [int] NULL,
	[asciiFirstName] [nvarchar](30) NULL,
	[asciiLastName] [nvarchar](30) NULL,
	[lastTouched] [datetime] NOT NULL,
	[TimeZone] [nvarchar](60) NULL,
	[ReportTo] [int] NULL,
	[CreateDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ActivationDate] [datetime] NULL,
	[UserNameDomain] [nvarchar](255) NULL,
	[secondaryId] [nvarchar](1024) NULL,
	[EmailRefusalTimeout] [int] NULL,
	[DocumentRefusalTimeout] [int] NULL,
	[ChatRefusalTimeout] [int] NULL,
	[PhoneCallRefusalTimeout] [int] NULL,
	[VoiceMailRefusalTimeout] [int] NULL,
	[WorkItemRefusalTimeout] [int] NULL,
	[RowVersion] [timestamp] NOT NULL,
	[SecurityProfileID] [int] NULL,
	[rowguid] [uniqueidentifier] NOT NULL,
	[AgentDialingPatternID] [int] NULL,
	[CountryCode] [nvarchar](2) NOT NULL,
	[StateCode] [nvarchar](100) NOT NULL,
	[City] [nvarchar](100) NOT NULL,
	[UseTeamMaxConcurrentChats] [bit] NULL,
	[MaxConcurrentChats] [int] NULL,
	[WfmNotificationEnabled] [bit] NOT NULL,
	[WfmNotificationInterval] [smallint] NOT NULL,
	[Billable] [bit] NOT NULL,
	[UseTeamMaxEmailInboxCount] [bit] NULL,
	[MaxEmailInboxCount] [int] NULL,
	[SipUserId] [nvarchar](250) NULL,
	[AgentPhoneHome] [nvarchar](100) NULL,
	[AgentPhoneOther] [nvarchar](100) NULL,
	[MFASecret] [nvarchar](32) NULL,
	[MFATokenPeriod] [int] NULL,
	[MFAHOTPCounter] [bigint] NULL,
	[MFAHOTPLookAheadWindow] [int] NULL,
	[SMSRefusalTimeout] [int] NULL,
	[UserId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.base_Agents] PRIMARY KEY CLUSTERED 
(
	[Agent_No] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClaimConfigurations]    Script Date: 7/20/2023 1:14:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClaimConfigurations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Domain] [nvarchar](100) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Entity] [nvarchar](100) NOT NULL,
	[EntityProperty] [nvarchar](100) NOT NULL,
	[EntityIdProperty] [nvarchar](100) NULL,
	[RelatedEntityIdProperty] [nvarchar](100) NULL,
	[CreateDate] [datetimeoffset](7) NOT NULL,
	[LastUpdated] [datetimeoffset](7) NULL,
	[CreatedBy] [bigint] NOT NULL,
	[LastUpdatedBy] [bigint] NULL,
 CONSTRAINT [PK_dbo.ClaimConfigurations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 7/20/2023 1:14:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GeoId] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[TwoLetterIsoCode] [nvarchar](max) NULL,
	[ThreeLetterIsoCode] [nvarchar](max) NULL,
	[CurrencySymbol] [nvarchar](max) NULL,
	[CreateDate] [datetimeoffset](7) NOT NULL,
	[LastUpdated] [datetimeoffset](7) NULL,
	[CreatedBy] [bigint] NOT NULL,
	[LastUpdatedBy] [bigint] NULL,
 CONSTRAINT [PK_dbo.Countries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Entities]    Script Date: 7/20/2023 1:14:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Entities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Enabled] [bit] NOT NULL,
	[EntityGroupId] [int] NOT NULL,
	[SortByPropertyId] [int] NOT NULL,
	[SortOrder] [int] NOT NULL,
	[CreateDate] [datetimeoffset](7) NOT NULL,
	[LastUpdated] [datetimeoffset](7) NULL,
	[CreatedBy] [bigint] NOT NULL,
	[LastUpdatedBy] [bigint] NULL,
 CONSTRAINT [PK_dbo.Entities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EntityGroups]    Script Date: 7/20/2023 1:14:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EntityGroups](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[CreateDate] [datetimeoffset](7) NOT NULL,
	[LastUpdated] [datetimeoffset](7) NULL,
	[CreatedBy] [bigint] NOT NULL,
	[LastUpdatedBy] [bigint] NULL,
 CONSTRAINT [PK_dbo.EntityGroups] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EntityProperties]    Script Date: 7/20/2023 1:14:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EntityProperties](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Type] [nvarchar](max) NULL,
	[EntityId] [int] NOT NULL,
	[Order] [int] NOT NULL,
	[Searchable] [bit] NOT NULL,
	[Nullable] [bit] NOT NULL,
	[VisibleOnRelations] [bit] NOT NULL,
	[CreateDate] [datetimeoffset](7) NOT NULL,
	[LastUpdated] [datetimeoffset](7) NULL,
	[CreatedBy] [bigint] NOT NULL,
	[LastUpdatedBy] [bigint] NULL,
 CONSTRAINT [PK_dbo.EntityProperties] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LandingPages]    Script Date: 7/20/2023 1:14:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LandingPages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Enabled] [bit] NOT NULL,
	[CreateDate] [datetimeoffset](7) NOT NULL,
	[LastUpdated] [datetimeoffset](7) NULL,
	[CreatedBy] [bigint] NOT NULL,
	[LastUpdatedBy] [bigint] NULL,
 CONSTRAINT [PK_dbo.LandingPages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notes]    Script Date: 7/20/2023 1:14:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notes](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Entity] [nvarchar](100) NOT NULL,
	[EntityId] [nvarchar](100) NOT NULL,
	[Property] [nvarchar](100) NOT NULL,
	[Value] [nvarchar](max) NOT NULL,
	[CreateDate] [datetimeoffset](7) NOT NULL,
	[LastUpdated] [datetimeoffset](7) NULL,
	[CreatedBy] [bigint] NOT NULL,
	[LastUpdatedBy] [bigint] NULL,
 CONSTRAINT [PK_dbo.Notes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserGroupMemberships]    Script Date: 7/20/2023 1:14:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserGroupMemberships](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserGroupId] [int] NOT NULL,
	[UserId] [bigint] NOT NULL,
 CONSTRAINT [PK_dbo.UserGroupMemberships] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserGroups]    Script Date: 7/20/2023 1:14:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserGroups](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CreateDate] [datetimeoffset](7) NOT NULL,
	[LastUpdated] [datetimeoffset](7) NULL,
	[CreatedBy] [bigint] NOT NULL,
	[LastUpdatedBy] [bigint] NULL,
 CONSTRAINT [PK_dbo.UserGroups] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoleEntityMaps]    Script Date: 7/20/2023 1:14:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoleEntityMaps](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserRoleId] [int] NOT NULL,
	[EntityId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.UserRoleEntityMaps] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoleMemberships]    Script Date: 7/20/2023 1:14:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoleMemberships](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserRoleId] [int] NOT NULL,
	[UserId] [bigint] NOT NULL,
 CONSTRAINT [PK_dbo.UserRoleMemberships] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 7/20/2023 1:14:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Enabled] [bit] NOT NULL,
	[LandingPageId] [int] NOT NULL,
	[CreateDate] [datetimeoffset](7) NOT NULL,
	[LastUpdated] [datetimeoffset](7) NULL,
	[CreatedBy] [bigint] NOT NULL,
	[LastUpdatedBy] [bigint] NULL,
 CONSTRAINT [PK_dbo.UserRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/20/2023 1:14:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](450) NOT NULL,
	[Firstname] [nvarchar](450) NULL,
	[Lastname] [nvarchar](450) NULL,
	[Password] [nvarchar](450) NULL,
	[Salt] [nvarchar](255) NULL,
	[IsHashed] [bit] NOT NULL,
	[Enabled] [bit] NOT NULL,
	[ExternalAuth] [bit] NOT NULL,
	[CountryId] [int] NOT NULL,
	[CreateDate] [datetimeoffset](7) NOT NULL,
	[LastUpdated] [datetimeoffset](7) NULL,
	[CreatedBy] [bigint] NOT NULL,
	[LastUpdatedBy] [bigint] NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTypeMaps]    Script Date: 7/20/2023 1:14:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTypeMaps](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserTypeId] [int] NOT NULL,
	[UserId] [bigint] NOT NULL,
 CONSTRAINT [PK_dbo.UserTypeMaps] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTypes]    Script Date: 7/20/2023 1:14:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](255) NOT NULL,
	[CreateDate] [datetimeoffset](7) NOT NULL,
	[LastUpdated] [datetimeoffset](7) NULL,
	[CreatedBy] [bigint] NOT NULL,
	[LastUpdatedBy] [bigint] NULL,
 CONSTRAINT [PK_dbo.UserTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AuthenticationAttempts] ON 

INSERT [dbo].[AuthenticationAttempts] ([Id], [Username], [Result], [IpAddress], [Ignore], [Message], [AuthenticationPlugin], [CreateDate], [LastUpdated], [CreatedBy], [LastUpdatedBy]) VALUES (1, N'string', N'Unknown', N'::1', 0, N'Object reference not set to an instance of an object.', N'Fake', CAST(N'2023-04-04T16:32:36.4824286-06:00' AS DateTimeOffset), NULL, 1, NULL)
INSERT [dbo].[AuthenticationAttempts] ([Id], [Username], [Result], [IpAddress], [Ignore], [Message], [AuthenticationPlugin], [CreateDate], [LastUpdated], [CreatedBy], [LastUpdatedBy]) VALUES (2, N'admin', N'Failure', N'::1', 0, N'The provided Users password is invalid.', N'Users', CAST(N'2023-04-05T14:26:30.5299397-06:00' AS DateTimeOffset), NULL, 1, NULL)
INSERT [dbo].[AuthenticationAttempts] ([Id], [Username], [Result], [IpAddress], [Ignore], [Message], [AuthenticationPlugin], [CreateDate], [LastUpdated], [CreatedBy], [LastUpdatedBy]) VALUES (3, N'admin', N'Success', N'::1', 0, NULL, N'Users', CAST(N'2023-04-05T14:26:46.1147476-06:00' AS DateTimeOffset), NULL, 1, NULL)
SET IDENTITY_INSERT [dbo].[AuthenticationAttempts] OFF
GO
SET IDENTITY_INSERT [dbo].[ClaimConfigurations] ON 

INSERT [dbo].[ClaimConfigurations] ([Id], [Domain], [Name], [Entity], [EntityProperty], [EntityIdProperty], [RelatedEntityIdProperty], [CreateDate], [LastUpdated], [CreatedBy], [LastUpdatedBy]) VALUES (1, N'User', N'Id', N'User', N'Id', NULL, NULL, CAST(N'2023-04-05T14:05:50.7172176-06:00' AS DateTimeOffset), NULL, 1, NULL)
INSERT [dbo].[ClaimConfigurations] ([Id], [Domain], [Name], [Entity], [EntityProperty], [EntityIdProperty], [RelatedEntityIdProperty], [CreateDate], [LastUpdated], [CreatedBy], [LastUpdatedBy]) VALUES (2, N'User', N'Username', N'User', N'Username', NULL, NULL, CAST(N'2023-04-05T14:05:50.7173215-06:00' AS DateTimeOffset), NULL, 1, NULL)
INSERT [dbo].[ClaimConfigurations] ([Id], [Domain], [Name], [Entity], [EntityProperty], [EntityIdProperty], [RelatedEntityIdProperty], [CreateDate], [LastUpdated], [CreatedBy], [LastUpdatedBy]) VALUES (3, N'UserRole', N'Role', N'UserRole', N'Name', N'Id', N'UserRole', CAST(N'2023-04-05T14:05:50.7173358-06:00' AS DateTimeOffset), NULL, 1, NULL)
SET IDENTITY_INSERT [dbo].[ClaimConfigurations] OFF
GO
SET IDENTITY_INSERT [dbo].[Countries] ON 

INSERT [dbo].[Countries] ([Id], [GeoId], [Name], [TwoLetterIsoCode], [ThreeLetterIsoCode], [CurrencySymbol], [CreateDate], [LastUpdated], [CreatedBy], [LastUpdatedBy]) VALUES (3, 0, N'Afghanistan', N'AF', N'AFG', N'؋', CAST(N'2023-04-05T14:05:50.7177588-06:00' AS DateTimeOffset), NULL, 1, NULL)
INSERT [dbo].[Countries] ([Id], [GeoId], [Name], [TwoLetterIsoCode], [ThreeLetterIsoCode], [CurrencySymbol], [CreateDate], [LastUpdated], [CreatedBy], [LastUpdatedBy]) VALUES (4, 0, N'Algeria', N'DZ', N'DZA', N'د.ج.‏', CAST(N'2023-04-05T14:05:50.7174272-06:00' AS DateTimeOffset), NULL, 1, NULL)
INSERT [dbo].[Countries] ([Id], [GeoId], [Name], [TwoLetterIsoCode], [ThreeLetterIsoCode], [CurrencySymbol], [CreateDate], [LastUpdated], [CreatedBy], [LastUpdatedBy]) VALUES (5, 0, N'Azerbaijan', N'AZ', N'AZE', N'₼', CAST(N'2023-04-05T14:05:50.7175113-06:00' AS DateTimeOffset), NULL, 1, NULL)
GO
SET IDENTITY_INSERT [dbo].[Countries] OFF
GO
SET IDENTITY_INSERT [dbo].[Entities] ON 

INSERT [dbo].[Entities] ([Id], [Name], [Description], [Enabled], [EntityGroupId], [SortByPropertyId], [SortOrder], [CreateDate], [LastUpdated], [CreatedBy], [LastUpdatedBy]) VALUES (1, N'Addendum', NULL, 1, 1, 0, 0, CAST(N'2023-04-05T14:06:14.8137865-06:00' AS DateTimeOffset), NULL, 1, NULL)
INSERT [dbo].[Entities] ([Id], [Name], [Description], [Enabled], [EntityGroupId], [SortByPropertyId], [SortOrder], [CreateDate], [LastUpdated], [CreatedBy], [LastUpdatedBy]) VALUES (2, N'AlternateId', NULL, 1, 1, 0, 0, CAST(N'2023-04-05T14:06:14.8138071-06:00' AS DateTimeOffset), NULL, 1, NULL)
INSERT [dbo].[Entities] ([Id], [Name], [Description], [Enabled], [EntityGroupId], [SortByPropertyId], [SortOrder], [CreateDate], [LastUpdated], [CreatedBy], [LastUpdatedBy]) VALUES (3, N'AuthenticationAttempt', NULL, 1, 2, 0, 0, CAST(N'2023-04-05T14:06:14.8138094-06:00' AS DateTimeOffset), NULL, 1, NULL)
SET IDENTITY_INSERT [dbo].[Entities] OFF
GO
SET IDENTITY_INSERT [dbo].[EntityGroups] ON 

INSERT [dbo].[EntityGroups] ([Id], [Name], [Description], [CreateDate], [LastUpdated], [CreatedBy], [LastUpdatedBy]) VALUES (1, N'Extension Entities', NULL, CAST(N'2023-04-05T14:06:14.4231304-06:00' AS DateTimeOffset), NULL, 1, NULL)
INSERT [dbo].[EntityGroups] ([Id], [Name], [Description], [CreateDate], [LastUpdated], [CreatedBy], [LastUpdatedBy]) VALUES (2, N'Audit', NULL, CAST(N'2023-04-05T14:06:14.4231391-06:00' AS DateTimeOffset), NULL, 1, NULL)
INSERT [dbo].[EntityGroups] ([Id], [Name], [Description], [CreateDate], [LastUpdated], [CreatedBy], [LastUpdatedBy]) VALUES (3, N'Miscellaneous', NULL, CAST(N'2023-04-05T14:06:14.4231396-06:00' AS DateTimeOffset), NULL, 1, NULL)
SET IDENTITY_INSERT [dbo].[EntityGroups] OFF
GO
SET IDENTITY_INSERT [dbo].[EntityProperties] ON 

INSERT [dbo].[EntityProperties] ([Id], [Name], [Description], [Type], [EntityId], [Order], [Searchable], [Nullable], [VisibleOnRelations], [CreateDate], [LastUpdated], [CreatedBy], [LastUpdatedBy]) VALUES (1, N'Id', NULL, N'System.Int64', 1, 1, 1, 0, 0, CAST(N'2023-04-05T14:06:15.1070964-06:00' AS DateTimeOffset), NULL, 1, NULL)
INSERT [dbo].[EntityProperties] ([Id], [Name], [Description], [Type], [EntityId], [Order], [Searchable], [Nullable], [VisibleOnRelations], [CreateDate], [LastUpdated], [CreatedBy], [LastUpdatedBy]) VALUES (2, N'Entity', N'', N'System.String', 1, 2, 0, 0, 0, CAST(N'2023-04-05T14:06:15.1071053-06:00' AS DateTimeOffset), NULL, 1, NULL)
INSERT [dbo].[EntityProperties] ([Id], [Name], [Description], [Type], [EntityId], [Order], [Searchable], [Nullable], [VisibleOnRelations], [CreateDate], [LastUpdated], [CreatedBy], [LastUpdatedBy]) VALUES (3, N'EntityId', N'', N'System.String', 1, 3, 0, 0, 0, CAST(N'2023-04-05T14:06:15.1071058-06:00' AS DateTimeOffset), NULL, 1, NULL)
GO
SET IDENTITY_INSERT [dbo].[EntityProperties] OFF
GO
SET IDENTITY_INSERT [dbo].[LandingPages] ON 

INSERT [dbo].[LandingPages] ([Id], [Name], [Description], [Enabled], [CreateDate], [LastUpdated], [CreatedBy], [LastUpdatedBy]) VALUES (1, N'Admin', NULL, 1, CAST(N'2023-04-05T14:05:50.7172229-06:00' AS DateTimeOffset), NULL, 1, NULL)
SET IDENTITY_INSERT [dbo].[LandingPages] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRoleEntityMaps] ON 

INSERT [dbo].[UserRoleEntityMaps] ([Id], [UserRoleId], [EntityId]) VALUES (1, 1, 0)
SET IDENTITY_INSERT [dbo].[UserRoleEntityMaps] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRoleMemberships] ON 

INSERT [dbo].[UserRoleMemberships] ([Id], [UserRoleId], [UserId]) VALUES (1, 1, 1)
INSERT [dbo].[UserRoleMemberships] ([Id], [UserRoleId], [UserId]) VALUES (2, 1, 3)
SET IDENTITY_INSERT [dbo].[UserRoleMemberships] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRoles] ON 

INSERT [dbo].[UserRoles] ([Id], [Name], [Description], [Enabled], [LandingPageId], [CreateDate], [LastUpdated], [CreatedBy], [LastUpdatedBy]) VALUES (1, N'Admin', NULL, 1, 1, CAST(N'2023-04-05T14:05:50.7172360-06:00' AS DateTimeOffset), NULL, 1, NULL)
SET IDENTITY_INSERT [dbo].[UserRoles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [Firstname], [Lastname], [Password], [Salt], [IsHashed], [Enabled], [ExternalAuth], [CountryId], [CreateDate], [LastUpdated], [CreatedBy], [LastUpdatedBy]) VALUES (1, N'system', NULL, NULL, NULL, NULL, 0, 1, 0, 0, CAST(N'2023-04-05T14:05:50.7171598-06:00' AS DateTimeOffset), NULL, 1, NULL)
INSERT [dbo].[Users] ([Id], [Username], [Firstname], [Lastname], [Password], [Salt], [IsHashed], [Enabled], [ExternalAuth], [CountryId], [CreateDate], [LastUpdated], [CreatedBy], [LastUpdatedBy]) VALUES (2, N'unknown', NULL, NULL, NULL, NULL, 0, 0, 0, 0, CAST(N'2023-04-05T14:05:50.7173263-06:00' AS DateTimeOffset), NULL, 1, NULL)
INSERT [dbo].[Users] ([Id], [Username], [Firstname], [Lastname], [Password], [Salt], [IsHashed], [Enabled], [ExternalAuth], [CountryId], [CreateDate], [LastUpdated], [CreatedBy], [LastUpdatedBy]) VALUES (3, N'admin', NULL, NULL, N'@dmin1234!', NULL, 0, 1, 0, 0, CAST(N'2023-04-05T14:05:50.7173391-06:00' AS DateTimeOffset), NULL, 1, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[UserTypeMaps] ON 

INSERT [dbo].[UserTypeMaps] ([Id], [UserTypeId], [UserId]) VALUES (1, 1, 1)
INSERT [dbo].[UserTypeMaps] ([Id], [UserTypeId], [UserId]) VALUES (2, 1, 2)
INSERT [dbo].[UserTypeMaps] ([Id], [UserTypeId], [UserId]) VALUES (3, 2, 3)
SET IDENTITY_INSERT [dbo].[UserTypeMaps] OFF
GO
SET IDENTITY_INSERT [dbo].[UserTypes] ON 

INSERT [dbo].[UserTypes] ([Id], [Type], [CreateDate], [LastUpdated], [CreatedBy], [LastUpdatedBy]) VALUES (1, N'System', CAST(N'2023-04-05T14:05:50.7172319-06:00' AS DateTimeOffset), NULL, 1, NULL)
INSERT [dbo].[UserTypes] ([Id], [Type], [CreateDate], [LastUpdated], [CreatedBy], [LastUpdatedBy]) VALUES (2, N'Internal', CAST(N'2023-04-05T14:05:50.7173321-06:00' AS DateTimeOffset), NULL, 1, NULL)
INSERT [dbo].[UserTypes] ([Id], [Type], [CreateDate], [LastUpdated], [CreatedBy], [LastUpdatedBy]) VALUES (3, N'Partner', CAST(N'2023-04-05T14:05:50.7174169-06:00' AS DateTimeOffset), NULL, 1, NULL)
SET IDENTITY_INSERT [dbo].[UserTypes] OFF
GO
USE [master]
GO
