<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=.; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin;sharedbin" />
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.2.0.0" newVersion="6.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="LinqKit.Core" publicKeyToken="bc217f8844052a91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.17.0" newVersion="1.1.17.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="SqlRepository" 
         connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Dev\Lincoln\src\WebServices\WebServices.Main\App_Data\SafeShareDb.mdf;Integrated Security=True;App=EntityFramework"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings file="dev.config">
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="TokenTimeToLive" value="86400" />
    <!--<add key="UserEntityUrl" value="http://localhost:3896/UserService.svc"/>-->
    <add key="AutomaticMigrationDataLossAllowed" value="true" />
    <add key="EntityAdminToken" value="OGJiYjAzYjdlNWY1ZTE4ODZiMWNhMTJhNDA0NGI4OTlkNWYzOWY1MTlmZDNkZjVhZTVhMTM4OGU5NGFkMzRjOQ==" />
    <add key="LogRequestMessage" value="true" />
    <add key="LogRequestUrls" value="MetaEntitlementService.svc/Create" />
    <add key="LogResponseMessage" value="true" />
    <add key="LogResponseUrls" value="MetaEntitlementService.svc/Create" />
    <add key="EntityWebHost" value="https://localhost:44355" />
    <add key="EntitySubpath" value="" />
    <add key="ForceExternalUsersToAuthenticateExternally" value="false" />
    <add key="MaxFailedAttempts" value="10" />
    <add key="ApplicationSettingsPath" value="C:\ProgramData\Ivanti\ILS\main.appsettings.Local.json" />
  </appSettings>

  <log4net configSource="Log4Net.config"></log4net>

  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" requestPathInvalidCharacters="&lt;,&gt;,%,&amp;,\,?" />
    <httpModules>
    </httpModules>
    <httpCookies requireSSL="true" />
  </system.web>

  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" minFreeMemoryPercentageToActivateService="1"/>

    <bindings>
      <webHttpBinding>
        <!--The ability to change the common binding for all entities or custom web services -->
        <!--<binding name="EntityBindingHttp" maxBufferSize="1524288000" maxBufferPoolSize="1524288000" maxReceivedMessageSize="1524288000">
          <readerQuotas maxDepth="2000" maxStringContentLength="2147483647" maxArrayLength="163840" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None" />
        </binding>
        <binding name="EntityBindingHttps" maxBufferSize="1524288000" maxBufferPoolSize="1524288000" maxReceivedMessageSize="1524288000">
          <readerQuotas maxDepth="2000" maxStringContentLength="2147483647" maxArrayLength="163840" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport" />
        </binding>-->
      </webHttpBinding>
    </bindings>
  </system.serviceModel>

  <system.webServer>

    <modules runAllManagedModulesForAllRequests="true">
      <remove name="OutputCache" />
      <remove name="Session" />
      <remove name="WindowsAuthentication" />
      <remove name="FormsAuthentication" />
      <remove name="PassportAuthentication" />
      <remove name="RoleManager" />
      <remove name="UrlAuthorization" />
      <remove name="FileAuthorization" />
      <remove name="AnonymousIdentification" />
      <remove name="Profile" />
    </modules>
    <directoryBrowse enabled="false" />
    <validation validateIntegratedModeConfiguration="false" />
    <security>
      <requestFiltering allowDoubleEscaping="true" />
    </security>
  </system.webServer>

  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="51" />
    </connectionManagement>
  </system.net>

</configuration>
