<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
   -->

  <appSettings xdt:Transform="RemoveAttributes(file)">
     <add key="PluginDirectory" value="" xdt:Transform="Insert" />
     <add key="PluginSharedBinPaths" value="" xdt:Transform="Insert" />
     <add key="EntityWebHost" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
     <add key="EntitySubpath" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
     <add key="PluginLoaderLogPath" value="" xdt:Transform="Insert" />
     <add key="JWTPublicKey" value="" xdt:Transform="Insert" />
     <add key="JWTPrivateKey" value="" xdt:Transform="Insert" />
   </appSettings>

  <log4net configSource="Log4Net.Debug.config" xdt:Transform="Replace" xdt:Locator="XPath(/configuration/log4net)"></log4net>
</configuration>