<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Plugins\WebServices;Plugins\WebServices\bin"/>
    </assemblyBinding>
  </runtime>

  <connectionStrings>
    <add name="SqlRepository" connectionString="data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\SqlRepository.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings file="dev.config">
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="TokenTimeToLive" value="86400" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>

  <system.serviceModel>
    <services>
      <service behaviorConfiguration="NoAuthServiceBehavior" name="Rhyous.WebFramework.WebServices.UserWebService">
        <endpoint address="" behaviorConfiguration="AjaxEnabledBehavior" binding="webHttpBinding" contract="Rhyous.WebFramework.WebServices.IUserWebService" />
      </service>
      <service behaviorConfiguration="NoAuthServiceBehavior" name="Rhyous.WebFramework.WebServices.UserTypeWebService">
        <endpoint address="" behaviorConfiguration="AjaxEnabledBehavior" binding="webHttpBinding" contract="Rhyous.WebFramework.WebServices.IUserTypeWebService" />
      </service>
      <service behaviorConfiguration="NoAuthServiceBehavior" name="Rhyous.WebFramework.WebServices.UserToUserTypeWebService">
        <endpoint address="" behaviorConfiguration="AjaxEnabledBehavior" binding="webHttpBinding" contract="Rhyous.WebFramework.WebServices.IUserToUserTypeWebService" />
      </service>
      <service behaviorConfiguration="NoAuthServiceBehavior" name="Rhyous.WebFramework.WebServices.UserRoleWebService">
        <endpoint address="" behaviorConfiguration="AjaxEnabledBehavior" binding="webHttpBinding" contract="Rhyous.WebFramework.WebServices.IUserRoleWebService" />
      </service>
      <service behaviorConfiguration="NoAuthServiceBehavior" name="Rhyous.WebFramework.WebServices.UserToUserRoleWebService">
        <endpoint address="" behaviorConfiguration="AjaxEnabledBehavior" binding="webHttpBinding" contract="Rhyous.WebFramework.WebServices.IUserToUserRoleWebService" />
      </service>
      <service behaviorConfiguration="NoAuthServiceBehavior" name="Rhyous.WebFramework.WebServices.UserGroupWebService">
        <endpoint address="" behaviorConfiguration="AjaxEnabledBehavior" binding="webHttpBinding" contract="Rhyous.WebFramework.WebServices.IUserGroupWebService" />
      </service>
      <service behaviorConfiguration="NoAuthServiceBehavior" name="Rhyous.WebFramework.WebServices.UserToUserGroupWebService">
        <endpoint address="" behaviorConfiguration="AjaxEnabledBehavior" binding="webHttpBinding" contract="Rhyous.WebFramework.WebServices.IUserToUserGroupWebService" />
      </service>
      <service behaviorConfiguration="SecureServiceBehavior" name="Rhyous.WebFramework.WebServices.TokenWebService">
        <endpoint address="" behaviorConfiguration="AjaxEnabledBehavior" binding="webHttpBinding" contract="Rhyous.WebFramework.WebServices.ITokenWebService" />
      </service>
      <service behaviorConfiguration="NoAuthServiceBehavior" name="Rhyous.WebFramework.WebServices.AuthenticationWebService">
        <endpoint address="" behaviorConfiguration="AjaxEnabledBehavior" binding="webHttpBinding" contract="Rhyous.WebFramework.WebServices.IAuthenticationWebService" />
      </service>
      <service behaviorConfiguration="NoAuthServiceBehavior" name="Rhyous.WebFramework.WebServices.AddendumWebService">
        <endpoint address="" behaviorConfiguration="AjaxEnabledBehavior" binding="webHttpBinding" contract="Rhyous.WebFramework.WebServices.IAddendumWebService" />
      </service>
    </services>

    <behaviors>
      <endpointBehaviors>
        <behavior name="AjaxEnabledBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
      </endpointBehaviors>

      <serviceBehaviors>
        <behavior name="SecureServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <TokenValidationBehavior />
        </behavior>
        <behavior name="NoAuthServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <extensions>
      <behaviorExtensions>
        <add name="TokenValidationBehavior" type="Rhyous.WebFramework.Behaviors.TokenValidationBehaviorExtension, Rhyous.WebFramework.Behaviors.TokenValidation, Version=1.0.0.0, Culture=neutral" />
      </behaviorExtensions>
    </extensions>

    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>

    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true">
      <serviceActivations>
        <add relativeAddress="UserService.svc" service="Rhyous.WebFramework.WebServices.UserWebService, Rhyous.WebFramework.WebServices.User" />
        <add relativeAddress="UserTypeService.svc" service="Rhyous.WebFramework.WebServices.UserTypeWebService, Rhyous.WebFramework.WebServices.UserType" />
        <add relativeAddress="UserToUserTypeService.svc" service="Rhyous.WebFramework.WebServices.UserToUserTypeWebService, Rhyous.WebFramework.WebServices.UserToUserType" />
        <add relativeAddress="UserRoleService.svc" service="Rhyous.WebFramework.WebServices.UserRoleWebService, Rhyous.WebFramework.WebServices.UserRole" />
        <add relativeAddress="UserToUserRoleService.svc" service="Rhyous.WebFramework.WebServices.UserToUserRoleWebService, Rhyous.WebFramework.WebServices.UserToUserRole" />
        <add relativeAddress="UserGroupService.svc" service="Rhyous.WebFramework.WebServices.UserGroupWebService, Rhyous.WebFramework.WebServices.UserGroup" />
        <add relativeAddress="UserToUserGroupService.svc" service="Rhyous.WebFramework.WebServices.UserToUserGroupWebService, Rhyous.WebFramework.WebServices.UserToUserGroup" />
        <add relativeAddress="TokenService.svc" service="Rhyous.WebFramework.WebServices.TokenWebService, Rhyous.WebFramework.WebServices.Token" />
        <add relativeAddress="AddendumService.svc" service="Rhyous.WebFramework.WebServices.AddendumWebService, Rhyous.WebFramework.WebServices.Addendum" />
        <add relativeAddress="AuthenticationService.svc" service="Rhyous.WebFramework.WebServices.AuthenticationWebService, Rhyous.WebFramework.WebServices.Authentication" />
      </serviceActivations>
    </serviceHostingEnvironment>
  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />

    <!--<rewrite>
      <rules>
        <rule name="Redirect .svc extension" stopProcessing="true">
          <match url="^UserService.svc(.*)" ignoreCase="true"/>
          <action type="Redirect" url="UserService{R:1}"/>
        </rule>
        <rule name="Hide .svc extension" stopProcessing="true">
          <match url="^UserService(.*)" ignoreCase="true"/>
          <action type="Rewrite" url="UserService.svc{R:1}" />
        </rule>
      </rules>
    </rewrite>-->
  </system.webServer>

</configuration>
