<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SqlRepository" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|Data\SampleRepository.mdf;Integrated Security=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>