<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>    
    <add name="SqlRepository" connectionString="Data Source=Localhost;Initial Catalog=EntityAnywhere;Integrated Security=True;TrustServerCertificate=True" />
  </connectionStrings>
  <appSettings>
    <add key="PluginDirectory" value="C:\dev\Rhyous\EntityAnywhere\Api\Plugins"/>
  </appSettings>
</configuration>