<div fxLayout="row">
    <mat-form-field class="demo-full-width margin-top" [formGroup]="group" [fxFlex]="field.flex">
        <input matInput [matDatepicker]="picker" [formControlName]="field.name" [placeholder]="field.label" id="{{field.entity}}_{{field.name}}" [readonly]="field.readOnly">
        <mat-datepicker-toggle id="{{field.name}}-datepicker-toggle" matSuffix [for]="picker" [disabled]="field.readOnly"></mat-datepicker-toggle>
        <mat-datepicker #picker ></mat-datepicker>
        <mat-hint></mat-hint>
        <ng-container *ngFor="let validation of field.validations;" ngProjectAs="mat-error">
        <mat-error *ngIf="group.get(field.name).hasError(validation.name)">{{validation.message}}</mat-error>
        </ng-container>
    </mat-form-field>
    </div>
    