<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="Rhyous.Collections" version="1.0.12" targetFramework="net461" />
  <package id="Rhyous.Odata" version="1.0.23" targetFramework="net461" />
  <package id="Rhyous.Odata.Csdl" version="1.0.15" targetFramework="net461" />
  <package id="Rhyous.StringLibrary" version="1.1.10" targetFramework="net461" />
</packages>