mat-row {
    cursor: pointer;
  }
  
  mat-row:hover {
    background-color: #f0f0f0;
  }
  
  .loader-overlay {
    height: 3px;
    position: fixed;
    width:100%;
    top:0;
    left: 0;
    opacity: 1;
    z-index: 500000;
  }
  
  .filter-panel {
    /* background-color: #ffffff; */
    /* border-bottom: 1px solid #e0e0e0; */
    /* border-top: 1px solid #e0e0e0; */
    margin-bottom: 20px;
    padding: 10px 10px 20px 10px;
  }
  
  .filter-checkbox {
    margin: 0 10px;
  }
  
  .mat-form-field.mat-form-field,
  .mat-form-field.mat-form-field-flex {
    width: 100%;
  }
  
  .mat-table {
    display: table;
    width: 100%;
  }
  
  .mat-table > .mat-header-row, .mat-table > .mat-row {
      display: table-row;
      padding: 0;
      border: none;
  }
  
  .mat-table > .mat-header-row > .mat-header-cell, .mat-table > .mat-row > .mat-cell {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    display: table-cell;
    height: 48px;
    vertical-align: middle;
    padding-right: 5px;
  }
  
  .mat-column-Id {
    padding-left: 10px;
  }
  
  
  .mat-column-select {
    overflow: initial;
  }
  
  .mat-header-cell input {
    font-size: 12px;
    width: 100%;
    display: block;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
  }
  
  .mat-header-cell .mat-checkbox {
    font-size: 0.8em;
  }
  
  .mat-header-cell .mat-checkbox > label > .mat-checkbox-inner-container {
    height: 14px;
    width: 14px;
  }
  
  .mat-header-cell > .mat-sort-header-container > button {
    width: 100% !important;
  }
  
  .table-column-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .table-column-container > input {
    margin: auto;
  }
  
  .not-searchable {
    margin-bottom: 45px;
    margin-top: 0px;
  }
  