<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.EntityFrameworkCore" publicKeyToken="ADB9793829DDAE60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.4.0" newVersion="6.0.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <!--Local-->
    <add name="AgentsSqlRepository" connectionString="Data Source=Localhost;Initial Catalog=EntityAnywhere;Integrated Security=True;TrustServerCertificate=True" providerName="System.Data.SqlClient"/>
    <add name="SkillsSqlRepository" connectionString="Data Source=Localhost;Initial Catalog=EntityAnywhere;Integrated Security=True;TrustServerCertificate=True" providerName="System.Data.SqlClient"/>
    <add name="SqlRepository" connectionString="Data Source=Localhost;Initial Catalog=EntityAnywhere;Integrated Security=True;TrustServerCertificate=True" providerName="System.Data.SqlClient" />

    <!--Docker-->
    <!--<add name="SqlRepository" connectionString="Data Source=host.docker.internal,1433; User ID=SA; Password=somepw; Initial Catalog=EntityAnywhere;" providerName="System.Data.SqlClient"/>
    <add name="AgentsSqlRepository" connectionString="Data Source=host.docker.internal,1433; User ID=SA; Password=somepw; Initial Catalog=inData;"         providerName="System.Data.SqlClient"/>
    <add name="SkillsSqlRepository" connectionString="Data Source=host.docker.internal,1433; User ID=SA; Password=somepw; Initial Catalog=inData;"         providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <appSettings file="dev.config">
    <add key="TokenTimeToLive" value="86400" />
    <!--User the below if an entity is managed on a different microservice-->
    <!--<add key="UserEntityUrl" value="http://localhost:3896/UserService"/>-->
    <add key="AutomaticMigrationDataLossAllowed" value="true" />
    <add key="EntityAdminToken" value="ba258083519e2cb36d59b6105531cef2529a83e87826f3448e1f06e9b16ca400" />
    <add key="InternalOrganizationId" value="1" />
    <add key="SSO_TokenSize" value="100" />
    <add key="SSO_TokenTimeToLive" value="86400" />
    <add key="LogRequestMessage" value="true" />
    <add key="LogRequestUrls" value="OwnershipService/Create" />
    <add key="LogResponseMessage" value="true" />
    <add key="LogResponseUrls" value="OwnershipService/Create" />
    <add key="ForceExternalUsersToAuthenticateExternally" value="false" />
    <add key="MaxFailedAttempts" value="10" />
    <add key="EntityWebHost" value="https://localhost:7090" />
    <add key="EntitySubpath" value="Api" />
  </appSettings>
  <log4net configSource="Log4Net.config">
  </log4net>
</configuration>
