<div fxLayout="row">
    <mat-form-field [formGroup]="group" [fxFlex]="field.flex">
      <input matInput id="{{field.entity}}_{{field.name}}" 
        [formControlName]="field.name" 
        [placeholder]="field.label" 
        [type]="field.inputType" 
        [value]="field.value === undefined ? '': field.value" 
        [required]="field.required"
        [readonly]="field.readOnly">
      <ng-container *ngFor="let validation of field.validations;" ngProjectAs="mat-error">
        <mat-error *ngIf="group.get(field.name).hasError(validation.name)">{{validation.message}}</mat-error>
      </ng-container>
    </mat-form-field>
  </div>